
<div class="my-container">
    <div class="card text-bg-primary mb-3 mt-3" style="max-width: 18rem;">
        <div class="card-header text-center">
            <h2>Lagos</h2>
            <p><img src="{{iconURL}}" alt="weather image"></p>
        </div>
        <div class="card-body">
          <p class="card-text">Summary: {{summary}}</p>
          <p class="card-text">Temperature: {{temperature}} °F</p>
          <p class="card-text">Feels Like: {{feelsLikeTemp}} °F</p>
          <p class="card-text">Pressure: {{pressure}} hPa</p>
          <p class="card-text">Humidity: {{humidity}}%</p>
        </div>
    </div>
</div>
