
<div class="my-container">
    <div class="card text-bg-primary mb-3 mt-3" style="max-width: 18rem;">
        <div class="card-header text-center">
            <h2>Lagos</h2>
            <p>Weather Image</p>
        </div>
        <div class="card-body">
          <p class="card-text">Summary: Rain</p>
          <p class="card-text">Temperature: 50 °F</p>
          <p class="card-text">Feels Like: 52 °F</p>
          <p class="card-text">Pressure: 1024 hPa</p>
          <p class="card-text">Humidity: 50%</p>
        </div>
    </div>
</div>
